@{
    ViewData["Title"] = "Create New Recipe Page";
}
@model FlavorsomeDelights.WebApp.Models.RecipeCreateItem

<style>
    .jumbotron-create-form {
        width: 90%;
    }
    .form-create-recipe {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .form-create-recipe label {
        font-weight: bold;
    } 
</style>

<div class="container-create-form mt-5" style="text-align: center;">

    <div class="jumbotron-create-form jumbotron-fluid">
        <div class="form-create-recipe">
            @using (Html.BeginForm("Create", "Recipe", FormMethod.Post, new { title = Model.Title }))
            {
                @Html.HiddenFor(recipe => recipe.RecipeId)

                @Html.LabelFor(recipe => recipe.Title, "Recipe Title:")
                <br />
                @Html.TextBoxFor(recipe=> recipe.Title, htmlAttributes: new {style="width: 25rem; max-width: 100%;"})
                <br />

                @Html.LabelFor(recipe => recipe.HowToPrepare, "How to prepare:")
                <br />
                @Html.TextAreaFor(recipe => recipe.HowToPrepare, htmlAttributes: new {style="width: 25rem; max-width: 100%;" })

                <br />


                @Html.LabelFor(recipe => recipe.Complexity, "Complexity:")
                <br />
                @Html.DropDownListFor(recipe => recipe.Complexity, ViewBag.ComplexityTypes as List<SelectListItem>, htmlAttributes: new {style="width: 25rem; max-width: 100%;"})
                <br />

                @Html.LabelFor(recipe => recipe.CategoryId, "Category:")
                <br />
                @Html.DropDownListFor(recipe => recipe.CategoryId, (ViewBag.Categories as IEnumerable<SelectListItem>), htmlAttributes: new {style="width: 25rem; max-width: 100%;" })

                <br />
                @Html.LabelFor(recipe => recipe.Serves, "Serves:")
                <br />
                @Html.TextBoxFor(recipe => recipe.Serves, htmlAttributes: new {style="width: 25rem; max-width: 100%;" })

                <br />
                @Html.LabelFor(recipe => recipe.ImageUrl, "Image URL:")
                <br />
                @Html.TextBoxFor(recipe=> recipe.ImageUrl, htmlAttributes: new {style="width: 25rem; max-width: 100%;" })

                <br />
                <br />
                <button type="submit" class="btn btn-outline-dark" style="padding: 10px 20px;">Submit</button>
            }

        </div>
    </div>
</div>
