@{
    ViewData["Title"] = "Details";
}

@model FlavorsomeDelights.WebApp.Models.RecipeDetailedItem


<div class="d-flex">
    <div>
        <img class="details-img" src="@Model.ImageUrl" />
        <p>
            <br />
            <img class="icons" src="~/img/comlexity.png" />
            Complexity: @Model.Complexity&nbsp;
            <img class="icons" src="~/img/serves.png" />
            Serves: @Model.Serves
        </p>
    </div>
    <div class="details-container">
        <h1>@Model.Title</h1>
        @{
            Stack<string> stackForStepsForPreparation = new Stack<string>();
        }

        @foreach (var step in @Model.HowToPrepare.Split("."))
        {
            stackForStepsForPreparation.Push(step.Trim());
        }

        @stackForStepsForPreparation.Pop()

        @{
            var steps = @Model.HowToPrepare.Split(".");
        }

        <ul>
            @for (int i = 0; i < steps.Length - 1; i++)
            {
                <li style="text-align:justify">
                    @steps[i].Trim()
                </li>
            }
        </ul>
    </div>
</div>

