@{
    ViewData["Title"] = "Recipe Page";
}

@model FlavorsomeDelights.WebApp.Models.Recipes

<!-- <div class="text-center">
    <h1 class="display-4">Welcome to Flavorsome Delights. Enjoy the variety of recipes.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="recipes">
            <div class="recipe-list">
                @foreach (var recipe in Model.Items)
                {
                    
                    <div class="card">
                        <a class="card-link" href='@Url.Action("Details", "RecipeController")'>
                        <img class="images-list" src="@recipe.ImageUrl">
                        <div class="p-3 text-center">
                            <h3>@recipe.Title</h3>
                            <p>Serves: @recipe.Serves</p>
                            <p>Complexity: @recipe.Complexity</p>
                            @Html.HiddenFor(x => recipe.Id)
                        </div>
                        </a>
                    </div>
                  

                }
            </div>
        </div>
    </div>
</div>
